{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <h6>Крайне плохо разбираюсь в Python, особенно в классах.</h6>
      </li>
      <li class="list-group-item">
          <h6>Чуть лучше понимаю Django, но со всем незначительно лучше.</h6>
      </li>
    </ul>
  </aside>

  <article class="col-12 col-md-9">
    <p>При создании этого сайта были использован код из теории, практики, других юзеров в Slack,</p>
      <p>в StackOverflow и какие-то куски из чужих репозиториев в публичном доступе.</p>
  </article>
</div>
{% endblock %}