{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="row text-left p-3 justify-content-center">
        <h1>
            {{ group }}
        </h1>
    </div>
    {% for post in page_obj %}
        <div class="mx-5">
            <ul>
                <li>
                    <b>Группа:</b>
                    <p>{{ group.title }}</p>
                    <b>Автор:</b> {{ post.author.get_full_name }}
                </li>
                <li>
                    <b>Дата публикации:</b> {{ post.pub_date|date:"d E Y" }}
                </li>
            </ul>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% if not forloop.last %}
            <hr>{% endif %}
    {% endfor %}
    {% include 'posts/paginator.html' %}
{% endblock %}